<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h4 class="text-center">Login to Issue Hierarchy Construction</h4>
        </div>
        <div class="card-body text-center">
          <p>Sign in with your GitHub account to access your repositories and create epic issues.</p>
          
          <div class="mt-4">
            <a href="/auth/github" class="btn btn-dark btn-lg">
              <i class="fab fa-github me-2"></i> Sign in with GitHub
            </a>
          </div>
          
          <div class="mt-4 small text-muted">
            <p>We'll only request the permissions needed to access your repositories and create issues.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 